<div class="row">
  <h2>Editar Receta</h2>
  <div class="row">
    <div class="col-xs-12">
      <label>Nombre:</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="recipe.name">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <label>Descripción:</label>
      <input type="text"
        class="form-control"
        [(ngModel)]="recipe.description">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <label>Ingredientes:</label>
      <ul class="list-group col-xs-12">
        <li *ngFor="let ingredient of recipe.ingredients; let id = index" class="list-group-item">
          {{ingredient.name}} - ({{ingredient.amount}})
          <a id="delete" (click)="deleteIngredient(id)" class="glyphicon glyphicon-trash glyph"></a>
          <a id="minus" (click)="reduceIngredient(ingredient)" class="glyphicon glyphicon-minus glyph"></a>
          <a id="add" (click)="addToIngredient(ingredient)" class="glyphicon glyphicon-plus glyph"></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Imagen Path:</label>
      <input type="text"
             class="form-control"
             [(ngModel)]="recipe.imagePath">
    </div>
    <div class="col-xs-12">
      <br>
      <label>Imagen:</label>
      <img [src]="recipe.imagePath" alt="Link roto o invalido" class="img-responsive" style="max-height: 200px">
    </div>
  </div>
</div>
