<div *ngIf="recipe; else infoText" class="row">
  <div class="row">
    <div class="col-xs-8">
      <h1>{{recipe.name}}</h1>
    </div>
    <div class="col-xs-2">
      <br>
      <div dropdown class="btn-group">
        <button dropdownToggle class="btn btn-primary dropdown-toggle"
                type="button" >Opciones <span class="caret"></span></button>
        <ul *dropdownMenu role="menu" class="dropdown-menu">
          <li><a href="#">Agregar a Lista de Compra</a></li>
          <li><a href="#">Editar Receta</a></li>
          <li (click)="deleteRecipe()"><a href="#">Borrar</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Descripción:</label>
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Ingredientes:</label>Ingredientes
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 200px">
    </div>
  </div>
</div>
<ng-template #infoText>
  <div class="alert alert-info">
    <strong>Selecciona </strong> una receta para ver su informacion!
  </div>
</ng-template>
